{% extends "estructura/padre.html" %}

{% block cabecera %}
    <h1>Buscar cita/s</h1>
{% endblock %}

{% block contenido %}
    {% load django_bootstrap5 %} 
    <form action = "{% url 'buscar_cita'%}" method = "GET">
      
        {% csrf_token %}
        
        <div class="mb-4">
            {% bootstrap_field formulario.matricula show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.tipo_inspeccion show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.fecha_propuesta show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.fecha_propuesta.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
    </form>
{% endblock %}