{% extends "estructura/padre.html" %}

{% block cabecera %}
    <h1>Buscar cliente/s</h1>
{% endblock %}

{% block contenido %}
    {% load django_bootstrap5 %} 
    <form action = "{% url 'buscar_cliente'%}" method = "GET">
      
        {% csrf_token %}
        
        <div class="mb-4">
            {% bootstrap_field formulario.nombre show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.dni show_label=True %}
        </div>
        <div class="mb-4">
            {% bootstrap_field formulario.fecha_nacimiento show_label=True %}
            <div class="invalid-feedback">
                {% for error in formulario.fecha_nacimiento.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        

        {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
    </form>
{% endblock %}